{% extends 'account/authBase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
    href="{% static 'account/enterEnrolmentNumber.css' %}"
{% endblock css_file %}

{% block title %}
    Enter Your Enrollment Number
{% endblock title %}

{% block form_content %}
    {# Logo #}
    <img src="{% static 'forum/legaltalks_logo.png' %}" class="img-responsive center-block d-block mx-auto" style="height: 15%; width: 15%;">

    {# Welcome To LegalTalks Heading #}
    <h4 class="text-center mt-3" style="color: #dadada;">Welcome To LegalTalks</h4>
    {# Messages if something fails #}
    {% if messages %}
        {% for message in messages %}
            <small class="bg-transparent d-block mx-auto text-center text-danger mt-4 p-2 border border-danger" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{ message }}
            </small>
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mt-5">
            <label for="id_enrollmtno">Enter Your BAR Enrollment Number</label>
            {% render_field form.enrollmtno class="form-control" id="id_enrollmtno" %}
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-outline-success" style="width: 100%;">Submit</button>
            </div>
            {% comment %} <input type="text" class="form-control" id="code" placeholder=""> {% endcomment %}
        </div>
    </form>
{% endblock form_content %}