{% extends 'account/authBase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
    href="{% static 'account/lawyerSignUp.css' %}"
{% endblock css_file %}

{% block title %}
    LegalTalks | Advocate Signup
{% endblock title %}

{% block layout_classes %}<div class="col-lg-7 col-md-8 col-sm-12">{% endblock layout_classes %}
{% block form_content %}
    {# Logo Image #}
    <img src="{% static 'forum/legaltalks_logo.png' %}" class="img-responsive center-block d-block mx-auto" style="height:10%; width:10%;">

    {# Welcome to LegalTalks Heading #}
    <h4 class="text-center mt-3" style="color: #dadada;">Welcome to LegalTalks!</h4>

    {# Advocate Sign Up Heading #}
    <h4 class="text-center mt-3" style="color: #007bff;">Advocate Sign Up</h4>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3 mt-4">

            <div class="col-lg-6">
                {# First Name #}
                <label class="mt-2 text-light" for="first-name">First Name</label>
                {% render_field form.first_name placeholder="John" class="form-control text-light" id="first-name" %}
                {# <input type="text" name="firstName" placeholder="First Name" class="form-control"> #}
            </div>

            <div class="col-lg-6">
                {# Last Name #}
                <label class="mt-2 text-light" for="last-name">Last Name</label>
                {% render_field form.last_name placeholder="Doe" class="form-control text-light" id="last-name" %}
                {# <input type="text" name="lastName" placeholder="Last Name" class="form-control"> #}
            </div>
        </div>

        <div class="form-group mt-3">
            {# Email Address #}
            <label for="email" class="text-light">Email address</label>
            {% render_field form.email class="form-control text-light" id="email" aria-describedby="emailHelp" placeholder="johndoe_123@example.com" %}
            {% if form.email.errors %}
                <div class="bg-transparent d-block mx-auto text-center text-danger mt-2 p-2 border border-danger">
                    {% for error in form.email.errors %}
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {# <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> #}
        </div>
        
        <div class="form-group">
            {# Username #}
            <label for="username" class="text-light">Username</label>
            {% render_field form.username class="form-control text-light" id="username" placeholder="johndoe_123" %}
            {% if form.username.errors %}
                <div class="bg-transparent d-block mx-auto text-center text-danger mt-2 p-2 border border-danger">
                    {% for error in form.username.errors %}
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {# <input type="name" class="form-control" id="username" placeholder="Username"> #}
        </div>

        <div class="form-group mt-3">
            {# Password #}
            <label for="password-1" class="text-light">Password</label>
            {% render_field form.password1 class="form-control text-light" id="password-1" %}
            {% if form.password1.errors %}
                <div class="bg-transparent d-block mx-auto text-center text-danger mt-2 p-2 border border-danger">
                    {% for error in form.password1.errors %}
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {% render_field error %}
                    {% endfor %}
                </div>
            {% endif %}
            {% comment %} {% if form.password1.help_text %} {% endcomment %}
            <div class="bg-transparent d-block mx-auto text-light mt-2 py-2 pl-2 ">
                {% for help_text in form.password1.help_text %}
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                    {{ help_text|safe }}
                {% endfor %}
            </div>
            {% comment %} {% endif %} {% endcomment %}
            {# <input type="password" class="form-control" id="password" placeholder="Password"> #}
        </div>

        <div class="form-group mt-3">
            {# Confirm Password #}
            <label for="password-2" class="text-light">Confirm password</label>
            {% render_field form.password2 class="form-control text-light" id="password-2" %}
            {# <input type="password" class="form-control" id="password-2" placeholder="Confirm password"> #}
            {% if form.password2.errors %}
                <div class="bg-transparent d-block mx-auto text-danger mt-2 p-2 border border-danger">
                    {% for error in form.password2.errors %}
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {% render_field error %}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="bg-transparent d-block mx-auto text-light mt-2 p-2">
                {% comment %} {% for help_text in form.password2.help_text %} {% endcomment %}
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{ form.password2.help_text }}
                {% comment %} {% endfor %} {% endcomment %}
            </div>
        </div>
        <div class="text-center">
            {# Sign Up Button #}
            <button type="submit" class="btn btn-outline-success mt-3" style="width: 100%;">Sign Up</button>
        </div>
        <div class="mt-3 text-center mx-auto">
            {# Already have an account Login Link #}
            <p>Already have an account?&nbsp;&nbsp;<a href="{% url 'account:login' %}" style="color: #28a745;">Login</a></p>
        </div>
    </form>
{% endblock form_content %}