{% extends 'forum/base.html' %}
{% load static %}
{% block css_file %}
    href="{% static 'forum/index.css' %}"
{% endblock css_file %}

{% block title %}LegalTalks | Come Back Soon!{% for keyword in keywords %}{{ keyword }} {% endfor %}{% endblock title %}

{% block active_nav_link %}
    {# ---- Home Nav ----- #}
    <li class="nav-item active navs">
        {# -Done Balance - href in below tag #}
        <a class="nav-link" href="{% url 'home' %}" data-toggle="tooltip" data-placement="bottom" title="Home"><i
                class="fa fa-home"></i></a>
    </li>

    {# Your Content Nav #}
    <li class="nav-item active navs">
        {# Done - Balance - href in below tag #}
        <a class="nav-link" href="{% url 'forum:your-content' %}" data-toggle="tooltip" data-placement="bottom" title="Your Content"><i
                class="fa fa-edit"></i></a>
    </li>

    {# Profile Nav #}
    <li class="nav-item active navs">
        {# Done - Balance - href in below tag #}
        <a class="nav-link nav-profile" href="{% url 'account:my-profile' %}" data-toggle="tooltip" data-placement="bottom" title="Profile">
            {% if user.is_authenticated %}
                {% if user.is_advocate %}
                    <img class="img-fluid rounded-circle" src="{{ user.userprofile.profile_image.url }}">
                {% else %}
                    <img class="img-fluid rounded-circle" src="{{ user.commonuserprofile.profile_image.url }}">
                {% endif %}
            {% else %}
                <i class="fa fa-user-circle"></i>
            {% endif %}
        </a>
    </li>
{% endblock active_nav_link %}

{% block main_content %}
<div class="ml-3" style="margin-top: 80px">
    <div class="container container-fluid">
        <div class="display-4">
            You Have Been Logged Out
        </div>
        <br>
        <br>
        <a href="{% url 'account:login' %}" class="btn btn-warning">Log In Again</a>
    </div>
</div>
{% endblock main_content %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Come back soon!</title>
</head>
<body>
    You have been logged out
    <a href="{% url 'account:login' %}">Log In Again</a>
</body>
</html> {% endcomment %}