html, body{
    background-color: #000000 !important;
    color: white !important;
    overflow: hidden;
    /* background: url(anonymous.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

body a{
    text-decoration: none;
    color: inherit;
}
body a:hover
{
  color: inherit;
  cursor:pointer;
}

body hr{
    color: #393839;
}

input{
    color: #cfcfcf !important;
    background-color: #393839 !important;
    border: 0.01px solid #616161 !important;
}

input::placeholder{
    color: #cfcfcf !important;
}

/*---------------------------- Navbar START ----------------------------*/
.navbar{
    overflow: hidden !important;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0 !important; /* Position the navbar at the top of the page */
    width: 100% !important; /* Full width */
    z-index: 1;
    background-color: #262626;
    border-bottom: solid 0.001px #393839;
}

.navbar-brand strong{
    color: white;
    font-size: 23px;
}
.navbar-brand img{
    height: 29px;
    width: 33px;
}

.navs{
    margin-left: 30px;
}

.navs i{
    font-size: 25px;
}

.nav-profile img{
    height: 27px;
    width: 27px;
}

.current{
    border-bottom: solid 2px #00b4cc;
}

.current i{
    color: #00b4cc;
}
#add_question{
    margin-right: 30px;
    margin-top: 2.5px;
    font-weight: 500;
}

#add_question i{
    font-size: 16px;
}

#add_question i:hover{
    color: white;
}

#search{
    width: 320px;
}

.search{
    margin-left: 30px;
}

#login-signup-btns{
    margin-top: 3px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.navs i:hover{
    color: #00b4cc;
}

.navs i:focus{
    color: #00b4cc;
}
.nav-link:active{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.59);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.59);
}

/*-- Modal --*/

.modal{
    color: black;
}

#add-question-detail{
    margin-top: 17.5px;
    height: 220px;
}

.modal input{
    color: #ced4da !important;
    background-color: white !important;
    border-color: #ced4da !important;
}

.modal input::placeholder{
    color: #777777 !important;
}

/*---------------------------- Navbar END ----------------------------*/

.anonymous-heading {
    margin-top: 100px;
}

.anonymous-image{
    /* max-width: 100%; */
    max-height: 100% !important;

}